.box-container {
    display: flex;
    justify-content: center;
}
.box-subcontainer{
    padding-top: 2rem;
    width: 90%;
}
.cart-items{
    padding: 1rem;
    background:#f3f3f3;
}
.order-summary-container {
    padding: 1rem;
    width: 100%;
    background:#f3f3f3;
}