.product-details-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}
.cart-item-details {
    background-color: #d8d8d8;
}
.image-details {
    padding: 2rem;
}
.btn-add-to-cart-button {
    margin-top: 5rem;
    background: #000000 !important;
}
.btn-add-to-cart-button:hover {
    background: #00000096 !important;
}
